/****************************************************************
* GoOSe Project                                                 *
* CSS Style Sheet                                               *
****************************************************************/

/* Global styles */
body              { font-family: sans-serif; background: #eee; }
a, h1, h2         { color: #377BA8; }
h1, h2            { font-family: 'Georgia', serif; margin: 0; }
h2                { font-size: 1.2em; }

/* Page style */
#page             { margin: 0 auto; padding: 0.8em;
                    width: 1024px; background: white; 
		    border: 1px solid gray; }


/* Header style */
#header           { padding: 0; background: white; }
#header ul        { margin: 0; padding: 0;  list-style: none; }
#header li        { display: inline; margin-left: 3px; padding: 0; }

/* Navigation bar style */
#navbar           { padding: 5px; background: #377BA8;
                    font-family: sans-serif; font-weight: bold;
		    color: white; }
#navbar a         { color: white; }
#navbar a:link    { text-decoration: none; }
#navbar a:visited { text-decoration: none; }
#navbar a:active  { text-decoration: none; }
#navbar a:hover   { text-decoration: underline; color: white; }

#navbar ul        { margin: 0; padding: 0; list-style: none; }
#navbar li        { display: inline; margin: 5px; padding: 0; }

/* Change color for button of active page */
.pressed_button   { background: white; color: #377BA8; }

/* Build Status style */
#buildstatus      { border-bottom: 2px solid #eee; margin-bottom: 1em; }

/* Main content style */
#main             { float: left; width: 510px; 
		    margin-right: 5px; }

/* Side bar style */
#sidebar          { float: right; width: 504px; 
		    margin-left: 5px; }

/* Footer style */
#footer           { clear: both; background: #B9B9B9; }

/* Flash message style */
.flash            { background: #CEE5F5; padding: 0.5em;
                    border: 1px solid #AACBE2; }

/* Error message style */
.error            { background: #F0D6D6; padding: 0.5em; }
