<!doctype html>
<title>GoOSe Project</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% set navigation_bar = [
    ('/home','home','Home'),
    ('/community','community','Community'),
    ('/download','download','Download'),
    ('/help','help','Help'),
    ('/about','about','About')
] -%}
{% set active_page = active_page|default('home') -%}
<div class=page>
  <h1>GoOSe Project</h1>
  <div class=navbar>
    {% for href, id, caption in navigation_bar %}
       {% if id == active_page %}
          <span class="active_page">{{ caption|e }}</span>
       {% else %}
	  <a href="{{ href|e }}">{{ caption|e }}</a>
       {% endif %}
    {% endfor %}
  </div>
  <div class=buildstatus>
    <h2>Build Status Blah Blah Blah</h2>
  </div>
  {% block body %}{% endblock %}
</div>
