<!doctype html>
<title>GoOSe Project</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% set navigation_bar = [
    ('/home','home','Home'),
    ('/about','about','About'),
    ('/community','community','Community'),
    ('/download','download','Download'),
    ('/help','help','Help')
] -%}
{% set active_page = active_page|default('home') -%}
<div id=page>
  <div id=header>
    <h1><ul>
	<li><img src="{{ url_for('static', filename='goose-logo24.png') }}"
		 alt="logo" height="24" width="24" /></li>
	<li>GoOSe Project</li>
    </ul></h1>
  </div>
  <ul id=navbar>
    {% for href, id, caption in navigation_bar %}
       {% if id == active_page %}
          <li class="pressed_button">{{ caption|e }}</li>
       {% else %}
	  <li><a href="{{ href|e }}">{{ caption|e }}</a></li>
       {% endif %}
    {% endfor %}
  </ul>
  <div id="buildstatus">
    <h2>Build Status:</h2> <i>Not yet implemented...</i>
  </div>
  {% block body %}{% endblock %}
  <div id="footer">
    Copyright &copy 2012, The Goose Linux Project Team
  </div>
</div>
